/* Estilo para el cuerpo de la p치gina */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilo para la barra de navegaci칩n */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF; /* Color del texto en blanco */
    background-color: #0074D9; /* Fondo azul, puedes cambiar el valor hexadecimal por otro tono de azul si lo deseas */
    font-weight: bold;
    padding: 10px 20px; /* A침ade espacio alrededor del texto para mejorar la apariencia */
}



/* Estilo para las secciones */
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

/* Estilo para el pie de p치gina */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilo para los enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
