/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo para el slider de noticias */
.news-slider {
    width: 60%; /* Ancho del 60% de la página */
    margin: 0 auto; /* Centrar horizontalmente en la página */
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    transition: transform 0.3s ease;
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Botones de navegación */
.prev-button,
.next-button {
    background-color: #007bff; /* Color de fondo para los botones */
    color: #fff; /* Color del texto en los botones */
    border: none;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px; /* Borde redondeado para los botones */
}

/* Estilo para el contenido de los slides */
.slides-container {
    display: flex;
    flex-direction: column; /* Apilar los slides verticalmente */
    align-items: center; /* Centrar el contenido verticalmente */
    padding: 10px;
    background-color: #f0f0f0; /* Fondo del contenido de los slides */
}

/* Estilo para el enlace "Leer Más" */
.read-more-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff; /* Color de enlace azul */
}

/* Estilo para el encabezado */
header {
    background-color: #0074D9; /* Fondo azul */
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

/* Estilo para el botón de descarga */
.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3; /* Color azul más oscuro */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #00409f; /* Cambia el color al pasar el mouse */
}

/* Estilo para las secciones */
.other-section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}

/* Estilo para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilo para los enlaces del menú de navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}
